#footer-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-background);
  padding: 3.2em;
  align-items: center;
  font-family: var(--font-display);
}

#icons-container {
  display: flex;
  justify-content: space-between;
  gap: 1.4em;
}

.clickable-icon {
  width: 32px;
  height: 32px;
}
