.impact {
  width: 100vw;
  min-height: calc(100vw * 1488 / 1440);
  background-image: url('../../assets/backgrounds/impact-background.svg');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .impact {
    min-height: calc(100vw * 492 / 393);
    background-image: url('../../assets/backgrounds/impact-background-mobile.svg');
  }
}
