.past-section {
    width: 100vw;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.past-bg-wrapper {
    position: relative;
    width: 100%;
}

.past-bg-image {
    width: 100%;
    display: block;
}

.left-arrow-illustration {
    position: absolute;
    bottom: 57.7%;
    left: 18%;
    width: 10%;
}

.right-arrow-illustration {
    position: absolute;
    bottom: 57.7%;
    right: 4%;
    width: 10%;
}

.whale-illustration {
    position: absolute;
    bottom: 68%;
    left: 15%;
    width: 12.7%;
}

.slideshow-image {
    z-index: 0;
    position: absolute;
    top: 14.5%;
    left: 25%;
    width: 64.3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
